*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main.app_container{
  /* max-width: 1400px; */
  padding: 3vh 1vh;
  /* background-color: aqua; */
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.full_screen{
  display: flex;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
}

.full_screen_body{
  background-color: rgba(37, 37, 37, 0.425);
  position: relative;
  z-index: 2;
}

.full_screen_video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_component{
  background: rgba(243, 243, 243, 0.89);
  border: 1px solid rgb(117, 117, 117);
  margin: 0.5vh 0 0.5vh;
  padding: 0.2vh
}


@media (min-width:700px){
  main.app_container{
    /* max-width: 1400px; */
    /* padding: 5rem 1rem; */
    /* background-color: aqua; */
    min-height: 100vh;
   
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: 0.5fr 3fr;
    grid-column-gap: 1vh;
    grid-row-gap: 0.2vw;
  }

  .main_component{
    background: rgba(243, 243, 243, 0.89);
    border: 1px solid rgb(117, 117, 117);
    /* margin: 0.5vh 0 0.5vh;
    padding: 0.2vh */
  }
}